<!DOCTYPE html>
{% extends 'GlaCine/base.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block body_block %}
        <!-- cinema picture -->
        <div class="picture col-md-4">
            <br />                
            <img src="{% static 'images/CineworldCinemaGSC.jpg' %}" style="width:38rem;height:25rem; margin:0.3rem" alt="Cinema of Cineworld Cinema Glasgow IMAX at GSC" /><br />
        </div>
        <br />
        <!-- cinema discription -->
        <div class="card text-black border-primary col-md-4" style="width:38rem; height:25rem; margin:0.3rem">
            <div class="card-header"style="font-size:large">Cineworld Cinema Glasgow IMAX at GSC&emsp;<span class="fa-solid fa-rss" style="color:rgb(8, 8, 8)"></span></div>
            <div class="card-body">
              <h4 class="card-title"><strong>Description:</strong></h4>
              <p class="card-text">Multiplex cinema chain showing the latest international blockbusters in 2D and 3D formats.
                <br />
                <br />
                <br />
                <h4 class="card-title"><strong>Book Tickets:</strong></h4>
                <a href="https://www.imax.com/theatres/cineworld-imax-glasgow-science-centre/">Click here</a>
             </p>               
            </div>
        </div>
          <!-- cinema googlemap -->
        <div class="card text-black col-md-4" style="width:30rem;height:25rem; margin:0.3rem">
            <div class="card-header" style="font-size:large">Cinema Location
            <span class="fa-solid fa-street-view"></span></div>
            <div class="card-body">
                <iframe title="google map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.2678098160172!2d-4.295999984205927!3d55.85801978058164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488846784a7f4219%3A0xddd629b20933d0de!2sCineworld%20Cinema%20Glasgow%20IMAX%20at%20GSC!5e0!3m2!1sen!2suk!4v1647779823565!5m2!1sen!2suk"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe><br />
            </div>
        </div>

          <!-- Comment rating field -->
        <div class="card-2 text-black border-third col-md-4" style="width:39rem;height:15rem; margin:0.3rem">
            <div class="card-header"style="font-size:large">Comment rating:</div>
              <ul class="star-item">Comfortable:&emsp;
                  <span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>    
              </ul>
              <ul class="star-item">Food:&emsp;
                  <span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>    
              </ul>
              <ul class="star-item">Facilities:&emsp;
                  <span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>
                  <span class="fa-solid fa-heart" style="color:rgb(187, 183, 183)"></span>    
              </ul>    
        </div>   

          <!-- comment field -->
        <div class="card-2 text-black border-third col-md-4" style="width:45rem;height:15rem; margin:0.3rem">
            <div class="card-header"style="font-size:large">Comment field:</div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between"style="width: 100%;">
                  <strong style="font-family:cursive">This cinema is great.</strong>
                     <span class="gadget">views:14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between"style="width: 100%;">
                  <strong style="font-family:cursive">Parking is not free.</strong>
                    <span class="gadget">views:11</span>
                </li>
                <li class="list-group-item d-flex justify-content-between"style="width: 100%;">
                  <strong style="font-family:cursive">My 3yo loved The Grinch, would recommend that, but that's not on at the Imax, you would need to go to the Renfrew Street one.</strong>
                <span class="gadget">views:12</span>
                </li>
            </ul>
        </div>
        
        <!-- comment button -->
        <div class="card-3 text-black border-third col-md-4" style="width:23rem;height:15rem; margin:0.3rem">
            <div class="card-header-bottom"><span class="fa-solid fa-heart" style="color:rgb(184, 31, 31)"></span>&emsp;Review ...</div>
            <div class="card-body">
              <ul class="card-text">
                <a href="{% url 'GlaCine:review' %}">
                  <button type="button" class="btn btn-primary"> Leave your </br>comment here</button>
                </a> 
              </ul>
            </div>
        </div>
{% endblock %}
